.NavBar{
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  background-color: gray;
  align-items: center;
}
.Nav{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  
}
.listitem{
  list-style: none;
 font-size: 30px;
 
}
.Listlink{
   text-decoration: none;
   cursor: pointer;
   color: white;
}
.Listlink:hover{
  color: blue;
}
.footer1{
  display: flex;
  gap: 20px;
  padding: 0 0 0 400px;
}
.bottom{
  background-color: gray;
}
.footer2{
  padding: 0 0 0 500px;
}


